@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('https://ismailsenonder.github.io/tempassets/HelveticaNowDisplay-Regular.woff2') format('woff2'), url('https://ismailsenonder.github.io/tempassets/HelveticaNowDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('https://ismailsenonder.github.io/tempassets/HelveticaNowDisplay-Bold.woff2') format('woff2'), url('https://ismailsenonder.github.io/tempassets/HelveticaNowDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('https://ismailsenonder.github.io/tempassets/HelveticaNowDisplay-Medium.woff2') format('woff2'), url('https://ismailsenonder.github.io/tempassets/HelveticaNowDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('https://ismailsenonder.github.io/tempassets/HelveticaNowDisplay-ExtraBold.woff2') format('woff2'), url('https://ismailsenonder.github.io/tempassets/HelveticaNowDisplay-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('https://ismailsenonder.github.io/tempassets/HelveticaNowDisplay-Black.woff2') format('woff2'), url('https://ismailsenonder.github.io/tempassets/HelveticaNowDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

/* Set A4 size */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@page {
    size: A4;
    margin: 0;
}

/* Set content to fill the entire A4 page */
@media print {
    body {
        width: 210mm;
        height: 297mm;
    }
}

html,
body {
    width: 210mm;
    height: 297mm;
    font-family: "HelveticaNowDisplay", Helvetica, sans-serif;
    font-weight: 500;
}

body {
    background-image: url("https://ismailsenonder.github.io/tempassets/antetli_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    padding: 50px;
    position: relative;
    height: 100%;
}

.sagustkisim {
    text-align: right;
    font-size: 7pt;
    padding-top: 10px;
}

.qrkodbolumu {
    text-align: center;
    padding-top: 10px;
}

    .qrkodbolumu span {
        font-size: 6pt;
        font-weight: bold;
    }

.baslik {
    margin-top: 30px;
    background-color: #FECA21;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    font-weight: bold;
}

.anametin {
    margin-top: 20px;
    padding: 0 !important;
}

    .anametin p {
        font-size: 7pt;
    }

.bilgilertable {
    width: 100%;
    font-family: "HelveticaNowDisplay", Helvetica, sans-serif;
    table-layout: fixed;
}

    .bilgilertable tbody td {
        padding: 2px 0px 2px 10px;
        font-size: 10pt;
    }

    .bilgilertable tr.arkasigri td {
        background-color: rgba(244, 244, 244, 0.7);
    }

    .bilgilertable tr td:first-child {
        font-weight: bold;
    }

.ekspertizbilgileritable {
    width: 100%;
    font-family: "HelveticaNowDisplay", Helvetica, sans-serif;
    table-layout: fixed;
    font-size: 8pt;
}

    .ekspertizbilgileritable tr td:first-child {
        font-weight: bold;
        width: 25%;
        padding-left: 10px;
    }

.musteribilgileritable {
    width: 100%;
    font-family: "HelveticaNowDisplay", Helvetica, sans-serif;
    table-layout: fixed;
    font-size: 8pt;
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

    .musteribilgileritable tr td {
        padding: 5px 5px 5px 15px;
    }

    .musteribilgileritable tr td:first-child {
        font-weight: bold;
        width: 40%;
    }

.kontrolnoktalaritable {
    width: 100%;
    font-family: "HelveticaNowDisplay", Helvetica, sans-serif;
    table-layout: fixed;
}

    .kontrolnoktalaritable thead th {
        background-color: #F4F4F4;
        padding: 2px 0px 2px 10px;
        border-bottom: 3px solid #000000;
        font-size: 10pt;
    }

    .kontrolnoktalaritable tbody td {
        padding: 2px 0px 2px 10px;
        font-size: 10pt;
    }

    .kontrolnoktalaritable tr.arkasigri td {
        background-color: rgba(244, 244, 244, 0.5);
    }

    .kontrolnoktalaritable tr.arkasibeyaz td {
        background-color: rgba(255, 255, 255, 0.5);
    }

    .kontrolnoktalaritable tr td:first-child, .kontrolnoktalaritable tr td:nth-child(2) {
        font-weight: bold;
    }

    .kontrolnoktalaritable tr td:nth-child(2), .kontrolnoktalaritable tr td:nth-child(3) {
        font-size: 9pt !important;
    }

.kontrolnoktalariwrapper {
    padding: 0px !important; 
    border-top: 3px solid #000000; 
    margin-top: 15px;
}

.baslik-noborder {
    background-color: #FECA21;
    font-weight: bold;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}

.suslubaslik {
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
    border-radius: 10px 10px 0px 0px;
    margin-top: 15px;
}

.suslubilgikutusu {
    padding: 15px 0px 15px 0px;
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
}

.suslubilgikutusubottom {
    border-bottom: 2px solid #000000;
}

.aracgorsel {
    border-radius: 5px;
    width: 100%;
    border: 2px solid #EDEDED;
    padding: 3px 0px 3px 0px;
}

.markamodelplaka {
    text-align: center;
    font-size: 9pt;
    margin-top: 5px;
}

.aracgorselkutusu {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

    .aracgorselkutusu img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%
    }

.durumikonu {
    position: relative;
    width: 15px;
    top: -3px;
    margin-right: 3px;
}

.notlar {
    margin-top: 10px;
    background-color: #F4F4F4;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    font-weight: bold;
    font-size: 10pt;
    padding: 2px 0px 2px 10px;
}

.notsatiri {
    border-bottom: 3px solid #F4F4F4;
    height: 25px;
}

.motorgucudiv {
    text-align: center;
}

.motorgucuimg {
    width: 140px;
}

.motorperformans {
    background-color: rgba(237, 237, 237, 0.7);
    padding: 5px;
    font-size: 9pt;
    font-weight: bold;
}

.sayfano {
    position: absolute;
    bottom: 20px;
    font-size: 9pt;
    width: 90%;
    text-align: center;
}

/* footer bölümü */
.footer {
    position: absolute;
    font-size: 9pt;
    width: 90%;
}

.footer100 {
    bottom: 100px;
}

.footer75 {
    bottom: 75px;
}

.footer50 {
    bottom: 50px;
}

.footer25 {
    bottom: 25px;
}

/* imza bölümü */
.imzaatacak span {
    padding-left: 5px;
}

.imza {
    font-weight: bold;
}

    .imza::after {
        width: 97%;
        border-bottom: 2px solid #000000;
        content: "";
        height: 3px;
        display: block;
    }

    .imza span {
        padding: 5px;
        line-height: 2em;
    }
